<div class="container mb-150">
  <div class="row">
    <h1 class="text-center">Dashboard</h1>
      <div class="col d-flex justify-content-center my-3">
        <div class="card-profile">
          <div class="profile-avatar">
            <%= image_tag current_user.avatar, class: "avatar" %>
          </div>
          <p class="profile-name"> Info
              <span><%= @user.email %>
              </span>
          </p>
        </div>
      </div>
        <div class= "d-flex justify-content-center my-1">
          <%= link_to "Delete your account", user_registration_path, class: "magic-form-button-users-delete btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>

  </div>

  <div class="row my-4">
    <h2 class="text-center my-3">My Movie Collection</h2>
      <%= form_with url: user_path(current_user), method: :get, class: "d-flex justify-content-center mb-4 pb-4" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control-personalized",
            placeholder: "Search one of your movies!",
            autocomplete: "off"
        %>
      <span class= "d-none"><%= submit_tag "Search", name: "", class: "magic-form-button-users" %></span>
      <% end %>
    <% @watched_movies.each do |movie| %>
      <div class="col d-flex justify-content-center my-3 mx-2">
        <div id="watchlist-card-id" class="watchlist-card">
          <img class="poster" src=<%= movie.movie.poster_path%>>
          <div class="watchlist-card-content">
            <p class="watchlist-card-title"><%= movie.movie.title %></p>
            <p class="watchlist-card-description">
              <%= movie.movie.overview %><br>
            </p>

            <p class="pt-3">My rating: </p>
            <div class="">
              <%= simple_form_for [movie, @rating], {data: { controller: "form-submit" } } do |f| %>
                <%= f.input :score, collection: (1..5).to_a, selected: movie.rating.present? ? movie.rating.score : 0, include_blank: true, input_html: {data: { controller: "star-rating", action: "change->form-submit#submit"} }  %>
                <span class="d-none"><%= f.submit %></span>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
</div>
</div>
