
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-4">
        <div class="form-inputs magic-form">
        <h2>Forgot your password?</h2>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        <div class="form-actions">
          <%= f.button :submit, "Reset password" %>
            <div class="my-3">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>


      </div>
    </div>
  <% end %>
</div>
