<div class="container mt-3 position-relative" data-controller='loader'>
  <div class="magic-form-answers neat-screen blurry-screen <%= 'previous' if params[:previous] %>", data-controller="question" data-question-qindex-value=<%= @question_index %>>
    <h2><%= @question.content %></h2>
    <%= simple_form_for [@question, @answer] do |f| %>
      <% if Question::QUESTIONS.key(@question.content) == :decade || Question::QUESTIONS.key(@question.content) == :runtime %>
        <%= f.input :content,
          as: :radio_buttons,
          input_html: { class: "tag-selector", data: { action: "input->question#storeData" }},
          item_wrapper_class: 'tag-item', collection_wrapper_class: 'd-flex justify-content-center flex-wrap', collection: @question.inclusion_source %>
      <% elsif Question::QUESTIONS.key(@question.content) == :genre %>
          <%= f.input :content,
          as: :check_boxes,
          input_html: { class: "tag-selector", data: { action: "input->question#storeData" }},
          item_wrapper_class: 'tag-item', collection_wrapper_class: 'd-flex justify-content-center flex-wrap', collection: @question.inclusion_source %>
      <% else %>
        <%= f.input :content, collection: @question.inclusion_source, input_html: { data: { action: "input->question#storeData" }, autocomplete: "off"}  %>
      <% end %>

      <div class="d-flex justify-content-center w-100" style="margin-top: 40px">
        <% unless @previous_answer %>
          <%= link_to root_path, class: "magic-form-button-users-back btn" do %>
            <i class="fa-solid fa-arrow-left-long"></i>
          <% end %>
        <% else %>
          <%= link_to edit_question_answer_path(@previous_question, @previous_answer, previous: true), class: "magic-form-button-users-back btn", data: { action: "click->question#previous" } do %>
            <i class="fa-solid fa-arrow-left-long"></i>
          <% end %>
        <% end %>
        <% if Question::QUESTIONS.key(@question.content) == :runtime %>
      <span data-action='click->loader#loadingPage' class="animated-button">
      <%= f.submit "See results", style: "width: 140px; display: none;" %>See results</span>
        <% else %>
          <%= button_tag type: "submit", class: "btn fs-6", style: "width: 100px; margin-left: 30px;", data: { action: "click->question#next" } do %>
            <i class="fa-solid fa-arrow-right-long"></i>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <div data-question-target="fill">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="spinner d-none" data-loader-target='spinning'>
    <span>L</span>
    <span>O</span>
    <span>A</span>
    <span>D</span>
    <span>I</span>
    <span>N</span>
    <span>G</span>
  </div>
</div>
