<div class="container mt-3">
  <div class="magic-form-answers <%= 'previous' if params[:previous] %>", data-controller="question">
    <h2><%= @question.content %></h2>
    <%= simple_form_for [@question, @answer] do |f| %>
      <%= f.input :content, collection: @question.inclusion_source, input_html: { data: { action: "input->question#storeData" } } %>
      <%= f.button :submit, "Next", data: { action: "click->question#next" } %>
      <div>
        <% unless @previous_answer %>
          <%= link_to "Back", root_path, class: "magic-form-button-users-back btn" %>
        <% else %>
          <%= link_to "Previous", edit_question_answer_path(@previous_question, @previous_answer, previous: true), class: "magic-form-button-users-back btn", data: { action: "click->question#previous" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
