<div class="container mt-3">
  <div class="magic-form-answers">
    <h2><%= @question.content %></h2>
    <%= simple_form_for [@question, @answer] do |f| %>
      <%= f.input :content %>
      <%= f.button :submit, "Next", class: "btn btn-primary" %>
      <% if @questionnaire.questions.count == 1 %>
        <%= link_to "Back", :back, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Previous", edit_question_answer_path(@questionnaire.questions[-2], @questionnaire.questions[-2].answer) , class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
