<h1 class="mx-3 my-3">MovieMojo</h1>
<h3 class= "mx-3 my-3">Choose one of our recomendations!</h3>

  <div class="container">

  <% if !user_signed_in? %>

    <div class="row">

      <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results">
        <div class="result-movie-card secondary" data-results-target="card" data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
        <div class="overlay" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.second['poster_path']%>); background-size: cover; background-position: center;"></div>
          <h2 class="mx-3 my-3"><%= @movies.second['title']%></h2>
              <div class="text-center d-flex align-items-center justify-content-center">
                <button class="magic-button my-2 d-none text-center" data-results-target="button">
                  <p>Sign up!</p>
                </button>
              </div>
        </div>
      </div>

        <div class="col my-3">
          <div class="result-movie-card d-flex align-items-start flex-column" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.first.first['poster_path']%>); background-size: cover; background-position: center;">
            <h2 class="mx-3 my-3 py-2"><%= @movies.first['title']%> (<%= @movies.first['release_date'][0, 4]%>)</h2>
            <div class="movie-info text-start mt-auto mx-3">
              <p><%= @movies.first['runtime']%> minutes</p>
              <p>
                <% @movies.first['genres'].each do |genre| %>
                  <%= genre['name'] %>
                <% end %>
              </p>          
            </div>
          </div>
        </div>

        <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results">
          <div class="result-movie-card secondary" data-results-target="card" data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
            <div class="overlay" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.third['poster_path']%>); background-size: cover; background-position: center;"></div>
              <h2 class="mx-3 my-3"><%= @movies.third['title']%></h2>
                  <div class="text-center d-flex align-items-center justify-content-center">
                    <button class="magic-button my-2 d-none text-center" data-results-target="button">
                      <p>Sign up!</p>
                    </button>
                  </div>
            </div>
          </div>
      </div>

      <div class="row d-flex justify-content-around text-center">
        <p>Do you want more accurate recommendations?</p>
        <button class="magic-button my-2">
          <p>Sign up!</p>
        </button>
      </div>

   <% else %>

      <div class="row">

        <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results">
          <div class="result-movie-card secondary-signed-up" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.second['poster_path']%>); background-size: cover; background-position: center;" data-results-target="card" data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
            <h2 class="mx-3 my-3"><%= @movies.second['title']%></h2>
              <div class="text-center d-flex align-items-center justify-content-center">
            </div>
          </div>
        </div>

        <div class="col my-3">
          <div class="result-movie-card first-signed-up d-flex align-items-start flex-column" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.first['poster_path']%>); background-size: cover; background-position: center;">
            <h2 class="mx-3 my-3 py-2"><%= @movies.first['title']%></h2>
            <div class="movie-info text-start mt-auto mx-3">
              <p><%= @movies.first['runtime']%> minutes</p>
              <p>
                <% @movies.first['genres'].each do |genre| %>
                  <%= genre['name'] %>
                <% end %>
              </p>  
            </div>
          </div>
        </div>

        <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results">
          <div class="result-movie-card secondary-signed-up" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.third['poster_path']%>); background-size: cover; background-position: center;" data-results-target="card" data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
            <h2 class="mx-3 my-3"><%= @movies.third['title']%></h2>
                <div class="text-center d-flex align-items-center justify-content-center"></div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>

