  <div class="container my-5">


  <!-- Modal main card-->

  <div class="modal-container">
    <div class="modal fade" id="first" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><%= @movies.first['title']%> (<%= @movies.first['release_date'][0, 4]%>)</h5>
            <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="back"></button> %>
          </div>
          <div class="modal-body">
            <img class="modal-poster" src=<%= @movies.first['poster_path']%>>
            <p>Genres:
              <% @movies.first['genres'].each do |genre| %>
                <%= genre['name'] %>
              <% end %></p>
              <p> Director: <%= @movies.first['director']%></p>
              <p> Actors: <%= @movies.first['actor_first']%>, <%= @movies.first['actor_second']%></p>
              <p> Runtime: <%= @movies.first['runtime']%> minutes</p>
            <p><%= @movies.first['overview']%></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%# <button type="button" class="btn btn-primary">Add to watchlist</button> %>
            <% if user_signed_in? %>
              <%= button_to "Add to watchlist", movies_path, data: { turbo_method: :post }, class: "visitor-button" %>
            <% else %>
              <%= link_to "Add to watchlist", new_user_registration_path, class: "visitor-button"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!---modal left card---->


  <div class="modal-container">
      <div class="modal fade" id="second" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><%= @movies.second['title']%> (<%= @movies.second['release_date'][0, 4]%>)</h5>
              <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="back"></button> %>
            </div>
            <div class="modal-body">
              <img class="modal-poster" src=<%= @movies.second['poster_path']%>>
              <p>Genres:
                <% @movies.second['genres'].each do |genre| %>
                  <%= genre['name'] %>
                <% end %></p>
                <p> Director: <%= @movies.second['director']%></p>
                <p> Actors: <%= @movies.second['actor_first']%>, <%= @movies.second['actor_second']%></p>
              <p><%= @movies.second['overview']%></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Add to watchlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>

<!---modal right card---->


  <div class="modal-container">
      <div class="modal fade" id="third" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><%= @movies.third['title']%> (<%= @movies.third['release_date'][0, 4]%>)</h5>
              <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="back"></button> %>
            </div>
            <div class="modal-body">
              <img class="modal-poster" src=<%= @movies.third['poster_path']%>>
              <p>Genres:
                <% @movies.third['genres'].each do |genre| %>
                  <%= genre['name'] %>
                <% end %></p>
                <p> Director: <%= @movies.third['director']%></p>
                <p> Actors: <%= @movies.third['actor_first']%>, <%= @movies.third['actor_second']%></p>
              <p><%= @movies.third['overview']%></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Add to watchlist</button>
            </div>
          </div>
        </div>
      </div>
    </div>

<!------Left Card--------->

  <div class="row">
    <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results">
      <div class="result-movie-card <%= user_signed_in? ? "secondary-signed-up" : "secondary" %>" <%="data-bs-toggle=modal data-bs-target=#second"if user_signed_in?%>  data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
        <% if !user_signed_in? %>
        <div id="revealText" data-results-target="revealText">
          <button class="visitor-button" data-results-target="button">
            <%= link_to "Sign up!", new_user_registration_path, class:"text-decoration-none"%>
          </button>
          <p>never see the same movie twice, get more personalized recommendations based on your previous picks!</p>
          <p>
            <button class="revealButton" <%="data-bs-toggle=modal data-bs-target=#second"if !user_signed_in?%> data-results-target="revealButton" data-action="click->results#revealCard">show movie anyway</button>
          </p>
        </div>
        <% end %>
        <div class="overlay" data-results-target="overlayFilter" style="background-image:url(<%= @movies.second['poster_path']%>); background-size: cover; background-position: center;"></div>
        <h2 class="mx-3 my-3 text-center"><%= @movies.second['title']%></h2>
        <div class="second-text-center d-flex flex-column align-items-center justify-content-center">
      </div>
    </div>
  </div>

<!------Middle Card--------->

  <div class="col my-3">
    <div class="result-movie-card first-signed-up d-flex align-items-start flex-column" data-bs-toggle="modal" data-bs-target="#first" style="background-image:url(<%= @movies.first['poster_path']%>); background-size: cover; background-position: center;">
      <h2 class="mx-3 my-3 py-2"><%= @movies.first['title']%> (<%= @movies.first['release_date'][0, 4]%>)</h2>
      <div class="movie-info text-start mt-auto mx-3">
        <p> Runtime: <%= @movies.first['runtime']%> minutes</p>
        <p> Director: <%= @movies.first['director']%></p>
        <p> Actors: <%= @movies.first['actor_first']%>, <%= @movies.first['actor_second']%></p>
        <p> Genres:
          <% @movies.first['genres'].each do |genre| %>
            <%= genre['name'] %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

<!------Right Card--------->

  <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results" <%="data-bs-toggle=modal data-bs-target=#third"if user_signed_in?%>>
    <div class="result-movie-card <%= user_signed_in? ? "secondary-signed-up" : "secondary" %>" data-results-target="card" data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
      <% if !user_signed_in? %>
      <div id="revealText" data-results-target="revealText">
        <button class="visitor-button" data-results-target="button">
          <%= link_to "Sign up!", new_user_registration_path, class:"text-decoration-none"%>
        </button>
        <p>never see the same movie twice, get more personalized recommendations based on your previous picks!</p>
        <p>
          <button class="revealButton" data-results-target="revealButton" data-action="click->results#revealCard" <%="data-bs-toggle=modal data-bs-target=#third"if !user_signed_in?%>>show movie anyway</button>
        </p>
      </div>
       <% end %>
      <div class="overlay" data-results-target="overlayFilter" style="background-image:url(<%= @movies.third['poster_path']%>);
        background-size: cover;
        background-position: center;">
      </div>
      <h2 class="mx-3 my-3"><%= @movies.third['title']%></h2>
      <div class="text-center d-flex align-items-center justify-content-center">
      </div>
    </div>
  </div>

<!-----Start again ----->

    <div class="row">
      <div class="d-flex justify-content-center">
        <div><%= button_to "Start again", questionnaires_path, data: { turbo_method: :post }, class: "visitor-button" %></div>
      </div>
    </div>
  </div>

</div>
