  <div class="container">

<div class="d-flex justify-content-center">
  <% if @movie_ids.count < 3 %>
  <p>We see you have unique tastes! We haven't found your exact match yet, but we think you might enjoy these!
  <% end %>
</div>

  <!-- Modal main card-->

  <div class="modal-container">
    <div class="modal fade" id="first" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img class="modal-poster" src=<%= @movies.first['poster_path']%>>
            <h2 class="modal-title" id="staticBackdropLabel"><%= @movies.first['title']%> (<%= @movies.first['release_date'][0, 4]%>)</h2>
             <p><div class="genre-flex">
                <% @movies.first['genres'].each do |genre| %>
                 <div class="genres-tag"> <%= genre['name'] %></div>
                <% end %></div>
              <div class="modal-infos">
              <p><strong> Directed by </strong> <%= @movies.first['director']%></p>
              <p><strong> Cast: </strong><%= @movies.first['actor_first']%>, <%= @movies.first['actor_second']%></p>
              <p><strong><%= @movies.first['runtime']%> minutes</strong></p></div>
              <br>
            <p class="overview-text"><%= @movies.first['overview']%></p>
          </div>
          <div class="modal-footer">
            <div class="d-flex justify-content-center button-container">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            <% if user_signed_in? %>
            <div class="d-flex justify-content-center button-container">
              <div data-controller="add-to-watchlist" data-add-to-watchlist-movie-value="<%= @movies.first.to_json %>">
                <%= button_to "I'm watching this", movies_path, data: { action: "click->add-to-watchlist#add" }, class: "button-submit" %>
              </div>
            </div>
            <% else %>
              <div class="d-flex justify-content-center button-container">
                <%= link_to "I'm watching this", new_user_registration_path, class: "button-submit"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!---modal left card---->


  <div class="modal-container">
      <div class="modal fade" id="second" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="back"></button> %>
            <div class="modal-body">
              <img class="modal-poster" src=<%= @movies.second['poster_path']%>>
              <h2 class="modal-title" id="staticBackdropLabel"><%= @movies.second['title']%> (<%= @movies.second['release_date'][0, 4]%>)</h2>
               <p><div class="genre-flex">
                <% @movies.second['genres'].each do |genre| %>
                 <div class="genres-tag"> <%= genre['name'] %></div>
                <% end %></div></p>
                <div class="modal-infos">
                <p><strong> Directed by</strong> <%= @movies.second['director']%></p>
                <p><strong> Cast: </strong><%= @movies.second['actor_first']%>, <%= @movies.second['actor_second']%></p>
                <p><strong><%= @movies.second['runtime']%> minutes</strong></p></div>
                <br>
              <p class="overview-text"><%= @movies.second['overview']%></p>
            </div>
            <div class="modal-footer">
              <div class="d-flex justify-content-center button-container">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
              <% if user_signed_in? %>
              <div class="d-flex justify-content-center button-container">
                <div data-controller="add-to-watchlist" data-add-to-watchlist-movie-value="<%= @movies.second.to_json %>">
                  <%= button_to "I'm watching this", movies_path, data: { action: "click->add-to-watchlist#add" }, class: "button-submit" %>
                </div>
              </div>
              <% else %>
                <div class="d-flex justify-content-center button-container">
                  <%= link_to "I'm watching this", new_user_registration_path, class: "button-submit"%>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>

<!---modal right card---->


  <div class="modal-container">
      <div class="modal fade" id="third" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="back"></button> %>
            <div class="modal-body">
              <img class="modal-poster" src=<%= @movies.third['poster_path']%>>
              <h2 class="modal-title" id="staticBackdropLabel"><%= @movies.third['title']%> (<%= @movies.third['release_date'][0, 4]%>)</h2>
              <p><div class="genre-flex">
                <% @movies.third['genres'].each do |genre| %>
                 <div class="genres-tag"> <%= genre['name'] %></div>
                <% end %></div></p>
                <div class="modal-infos">
                <p><strong> Directed by </strong><%= @movies.third['director']%></p>
                <p><strong> Cast: </strong><%= @movies.third['actor_first']%>, <%= @movies.third['actor_second']%></p>
                <p><strong><%= @movies.third['runtime']%> minutes</strong></p> </div>
                <br>
              <p class="overview-text"><%= @movies.third['overview']%></p>
            </div>
            <div class="modal-footer">
              <div class="d-flex justify-content-center button-container">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
              <% if user_signed_in? %>
              <div class="d-flex justify-content-center button-container">
                <div data-controller="add-to-watchlist" data-add-to-watchlist-movie-value="<%= @movies.third.to_json %>">
                  <%= button_to "I'm watching this", movies_path, data: { action: "click->add-to-watchlist#add" }, class: "button-submit" %>
                </div>
              </div>
              <% else %>
                <div class="d-flex justify-content-center button-container">
                  <%= link_to "I'm watching this", new_user_registration_path, class: "button-submit"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

<!------Left Card--------->

  <div class="row">
    <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results" data-results-user-value="<%= user_signed_in? %>">
      <div class="result-movie-card <%= user_signed_in? ? "secondary-signed-up" : "secondary" %>" <%="data-bs-toggle=modal data-bs-target=#second"if user_signed_in?%>  data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
        <% if !user_signed_in? %>
        <div id="revealText" data-results-target="revealText" class="d-none">
          <p>Never see the same movie twice, get more personalized recommendations based on your previous picks!</p>
          <div data-results-target="button">
            <%= link_to new_user_registration_path, class: "visitor-button" do %>
              Sign up!
            <% end %>
          </div>
          <p>
            <button class="revealButton" <%="data-bs-toggle=modal data-bs-target=#second"if !user_signed_in?%> data-results-target="revealButton" data-action="click->results#revealCard">Show movie anyway</button>
          </p>
        </div>
        <% end %>
        <div class="overlay" data-results-target="overlayFilter" style="background-image:url(<%= @movies.second['poster_path']%>); background-size: cover; background-position: center;"></div>
        <h2 class="mx-3 my-3 text-center"><%= @movies.second['title']%></h2>
        <div class="second-text-center d-flex flex-column align-items-center justify-content-center">
      </div>
    </div>
  </div>

<!------Middle Card--------->

  <div class="col my-3">
    <div class="result-movie-card first-signed-up d-flex align-items-start flex-column" data-bs-toggle="modal" data-bs-target="#first" style="background-image:url(<%= @movies.first['poster_path']%>); background-size: cover; background-position: center;">
      <h2 class="mx-3 my-3 py-2"><%= @movies.first['title']%> (<%= @movies.first['release_date'][0, 4]%>)</h2>
      <div class="movie-info text-start mt-auto mx-3">
        <p> Runtime: <%= @movies.first['runtime']%> minutes</p>
        <p> Director: <%= @movies.first['director']%></p>
        <p> Actors: <%= @movies.first['actor_first']%>, <%= @movies.first['actor_second']%></p>
        <p> Genres:
          <% @movies.first['genres'].each do |genre| %>
            <%= genre['name'] %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

<!------Right Card--------->

  <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results" data-results-user-value="<%= user_signed_in? %>" <%="data-bs-toggle=modal data-bs-target=#third"if user_signed_in?%>>
    <div class="result-movie-card <%= user_signed_in? ? "secondary-signed-up" : "secondary" %>" data-results-target="card" data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
      <% if !user_signed_in? %>
      <div id="revealText" data-results-target="revealText" class="d-none">
        <p>Never see the same movie twice, get more personalized recommendations based on your previous picks!</p>
        <div data-results-target="button">
          <%= link_to new_user_registration_path, class: "visitor-button" do %>
            Sign up!
          <% end %>
        </div>
        <p>
          <button class="revealButton" data-results-target="revealButton" data-action="click->results#revealCard" <%="data-bs-toggle=modal data-bs-target=#third"if !user_signed_in?%>>Show movie anyway</button>
        </p>
      </div>
       <% end %>
      <div class="overlay" data-results-target="overlayFilter" style="background-image:url(<%= @movies.third['poster_path']%>);
        background-size: cover;
        background-position: center;">
      </div>
      <h2 class="mx-3 my-3"><%= @movies.third['title']%></h2>
      <div class="text-center d-flex align-items-center justify-content-center">
      </div>
    </div>
  </div>

<!-----Start again ----->

    <div class="row">
      <div class="d-flex justify-content-center">
        <div><%= button_to "Start again", questionnaires_path, data: { turbo_method: :post }, class: "visitor-button" %></div>
      </div>
    </div>
  </div>




</div>
