
  <div class="container my-5">


  <!-- Modal -->
  <div class="modal-container">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><%= @movies.first['title']%> (<%= @movies.first['release_date'][0, 4]%>)</h5>
            <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="back"></button> %>
          </div>
          <div class="modal-body">
            <img class="modal-poster" src="https://image.tmdb.org/t/p/w342<%= @movies.first['poster_path']%>">
            <p>Genres:
              <% @movies.first['genres'].each do |genre| %>
                <%= genre['name'] %>
              <% end %></p>
              <p> Director: <%= @movies.first['director']%></p>
              <p> Actors: <%= @movies.first['actor_first']%>, <%= @movies.first['actor_second']%></p>

            <p><%= @movies.first['overview']%></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add to watchlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="row">

      <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results">
        <div class="result-movie-card <%= user_signed_in? ? "secondary-signed-up" : "secondary" %>"  data-results-target="card" data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
        <div class="overlay" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.second['poster_path']%>); background-size: cover; background-position: center;"></div>
          <h2 class="mx-3 my-3"><%= @movies.second['title']%></h2>
              <div class="text-center d-flex align-items-center justify-content-center">
                <button class="visitor-button my-2 d-none text-center" data-results-target="button"> <%= link_to "Sign up!", new_user_registration_path, class:"text-decoration-none"%></button>
              </div>
        </div>
      </div>


        <div class="col my-3">
          <div class="result-movie-card first-signed-up d-flex align-items-start flex-column" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.first['poster_path']%>); background-size: cover; background-position: center;">
            <h2 class="mx-3 my-3 py-2"><%= @movies.first['title']%> (<%= @movies.first['release_date'][0, 4]%>)</h2>
            <div class="movie-info text-start mt-auto mx-3">
              <p> Runtime: <%= @movies.first['runtime']%> minutes</p>
              <p> Director: <%= @movies.first['director']%></p>
              <p> Actors: <%= @movies.first['actor_first']%>, <%= @movies.first['actor_second']%></p>
              <p> Genres:
                <% @movies.first['genres'].each do |genre| %>
                  <%= genre['name'] %>
                <% end %>
              </p>
            </div>
          </div>
        </div>

        <div class="col my-5 mx-2 result-movie-wrapper" data-controller="results">
          <div class="result-movie-card <%= user_signed_in? ? "secondary-signed-up" : "secondary" %>" data-results-target="card" data-action="mouseover->results#mouseEnters mouseleave->results#mouseLeaves">
            <div class="overlay" style="background-image:url(https://image.tmdb.org/t/p/w342<%= @movies.third['poster_path']%>); background-size: cover; background-position: center;"></div>
              <h2 class="mx-3 my-3"><%= @movies.third['title']%></h2>
                  <div class="text-center d-flex align-items-center justify-content-center">
                <button class="visitor-button my-2 d-none text-center" data-results-target="button"> <%= link_to "Sign up!", new_user_registration_path, class: "text-decoration-none"%></button>
                  </div>
            </div>
          </div>
      </div>


      <% if !user_signed_in? %>
        <div class="row d-flex justify-content-around text-center">
          <p>Do you want more accurate recommendations?</p>
          <button class="magic-button my-2">
            <p>Sign up!</p>
          </button>
        </div>
      <% end %>

  </div>
</div>
