<!DOCTYPE html>
<html>
  <head>
    <title>MovieMojo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= favicon_link_tag asset_path('MojoIcon.png') %>
  </head>

  <body class="page-container">

    <%# ------- NAVBAR ------- %>
    <div class="navbar navbar-expand-sm navbar-dark navbar-lewagon" style="background-color: black;">
      <div class="container-fluid">

        <%# LOGO %>
        <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
          <%= image_tag "MojoIcon-transformed.png" %>
          <h3 class="navbar-title">MovieMojo</h3>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">

            <% if user_signed_in? %>

              <%# DROPDOWN if signed in%>
              <%# COPIED DROPDOWN %>
              <div class="sec-center">
                <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
                <label class="for-dropdown" for="dropdown"><i class="uil fa-solid fa-arrow-down fs-4 me-1"></i><%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %></label>
                <div class="section-dropdown">
                  <%# <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a> %>
                  <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "" do %>
                    Log out <i class="fa-solid fa-right-from-bracket"></i>
                  <% end %>
                </div>
              </div>

            <% else %>

              <%# Login Button if not signed in %>
              <li class="nav-item">
                <div class="btn-main">
                  <%= link_to "Log in", new_user_session_path, class: "magic-form-button-users btn" %>
                </div>
              </li>

            <% end %>

          </ul>
        </div>
      </div>
    </div>

    <%# ------- CONTENT ------- %>
    <div>
      <%= yield %>
    </div>
    <%# ------- FOOTER ------- %>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Welcome to the <i class="fas fa-heart"></i> of movies
      </div>
    </div>

  </body>

</html>
